<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imut.dao.QuestionnaireMapper">
	<select id="getQlistBySearch" resultType="com.imut.model.Questionnaire">
		select qid, qname,
		qstartDate AS qstartdate,qendDate AS qenddate
		from questionnaire
		where
		quid = #{id} and qname like CONCAT('%','${wd}','%') and status=1
	</select>

	<update id="deleteQuestionnaire">
		update questionnaire set
		status=0 where quid = #{id}
		and qid=#{qid}
	</update>

	<select id="getRecyclebin" resultType="com.imut.model.Questionnaire">
		select qid, qname,
		qstartDate AS qstartdate,qendDate AS qenddate
		from questionnaire
		where
		quid = #{id} and status=0
	</select>

	<insert id="copyQuestionnaire" parameterType="com.imut.model.Questionnaire"
		useGeneratedKeys="true" keyProperty="qid">
		INSERT INTO
		`questionnaire` ( `qname`, `quid`,
		`qstartDate`,
		`qendDate`,
		`status`) VALUES ( #{qname}, #{quid},
		#{qstartdate},
		#{qenddate}, '1');

	</insert>

	<select id="getQuestionnaireByid" resultType="com.imut.model.Questionnaire">
		select qid, qname,
		qstartDate AS qstartdate,qendDate AS qenddate,quid,status
		from
		questionnaire
		where qid=#{qid}
	</select>

	<select id="getQuestions" resultType="com.imut.model.Question">
		select *
		from question
		where
		qid=#{qid}
	</select>
	<!-- 复制问题 -->
	<insert id="copyQuestion" parameterType="java.util.List">
		insert ignore  into question
		(qid, tname, type, `option`) values
		<foreach collection="list" item="question" separator=",">
			(
			#{question.qid},
			#{question.tname},
			#{question.type},
			#{question.option}
			)
		</foreach>
	</insert>

	<insert id="createquestionnaire" useGeneratedKeys="true"
		keyProperty="qid">
		INSERT INTO `questionnaire` ( `qname`, `quid`,`qstartDate`,`qendDate`)
		VALUES ( #{qname}, #{quid},#{qstartdate},#{qenddate});
	</insert>

	<update id="updatequestionnaire" parameterType="com.imut.model.Questionnaire">
		UPDATE
		`questionnaire` SET `qname`=#{qname}, `info`=#{info}
		WHERE
		`qid`=#{qid}
	</update>
	<!-- 编辑问卷返回的结果  -->
	<!-- 返回类型 -->
	<resultMap id="questionnaire" type="com.imut.model.Questionnaire">
		<id property="qid" column="qid"/>
		<result property="qname" column="qname"/>
		<result property="quid" column="quid"/>
		<result property="qstartdate" column="qstartdate" />
		<result property="qenddate" column="qenddate" />
		<result property="status" column="status"/>
		<result property="sum" column="sum"/>
		<result property="release" column="release"/>
		<result property="info" column="info"/>
		<collection property="questions" javaType="ArrayList" column="qid"
			ofType="com.imut.model.Question" select="getQuestions" />
	</resultMap>
	<select id="editquestionnaire" resultMap="questionnaire">
		select qid,qname,quid,qstartDate
		as qstartdate,
		qendDate as qenddate,`status`,sum,`release`,info from questionnaire
		where qid=#{qid}
	</select>
	
	<insert id="addanswers" parameterType="java.util.List">
		INSERT INTO `answers` ( `randomuserid`, `qid`, `aresult`,  `tid`) VALUES 
		<foreach collection="list" item="a" index= "index" separator =",">
		(#{a.randomuserid}, #{a.qid}, #{a.aresult}, #{a.tid})
		</foreach>
	</insert>
	<update id="updatesum">
		update questionnaire set sum=sum+1 where qid=#{qid}
	</update>
</mapper>